@{
    Layout = "_Layout";
}

<div class="box2">
  <h2>Delete vendors</h2>
  <h3>Do you want to delete all vendors ?</h3>
  <form action="/vendors/" method="post">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="deleteVendors" id="deleteVendors" value="true">
      <label for="deleteVendors">Yes/No</label>
    </div>
    <button type="submit" class="btn">Delete/Back</button>
  </form>

  <button type="button" class="btn" onclick="window.location.href = '/vendors'">Back to vendors</button>
  <button type="button" class="btn" onclick="window.location.href = '/'">Home</button>
</div>
