@{
    Layout = "_Layout";
}

<div class="box2">
  <h2>Edit vendor</h2>

  <form action="/vendors/@Model.Id" method="post">
    <label for="updatedVendorName">Vendor name</label>
    <input id="updatedVendorName" name="updatedVendorName" type="text" value=@Model.Name>
    <label for="updatedVendorDescription">Vendor description</label>
    <textarea id="updatedVendorDescription" name="updatedVendorDescription" type="text">@Model.Description</textarea>
    <button type="submit">Edit</button>
  </form>

  <p><a href="/vendors/@Model.Id">Back to vendor</a></p>
  <p><a href="/vendors">Back to vendors.</a></p>
  <p><a href="/">Back home</a></p>
</div>
