@{
    Layout = "_Layout";
}

<div class="box2">
  <h2>Edit vendor</h2>

  <form action="/vendors/@Model.Id" method="post">
    <label for="updatedVendorName">Vendor name</label>
    <input class="form-control" id="updatedVendorName" name="updatedVendorName" type="text" value=@Model.Name>
    <label for="updatedVendorDescription">Vendor description</label>
    <textarea class="form-control" id="updatedVendorDescription" name="updatedVendorDescription" type="text">@Model.Description</textarea>
    <button class="btn" type="submit">Edit</button>
  </form>

  <button type="button" class="btn" onclick="window.location.href = '/vendors/@Model.Id'">Back to vendor</button>
  <button type="button" class="btn" onclick="window.location.href = '/vendors'">Back to vendors</button>
  <button type="button" class="btn" onclick="window.location.href = '/'">Home</button>
</div>
