@{
    Layout = "_Layout";
}

<div class="box2">
  <h2>Add a vendor</h2>

  <form action="/vendors" method="post">
    <label for="vendorName">Vendor name</label>
    <input id="vendorName" class="form-control" name="vendorName" type="text" placeholder="Vendor name...">
    <label for="vendorDescription">Vendor description</label>
    <textarea id="vendorDescription" class="form-control"name="vendorDescription" type="text" placeholder="Vendor description..."></textarea>
    <button type="submit" class="btn">Add vendor</button>
  </form>

  <button type="button" class="btn" onclick="window.location.href = '/vendors'">Back to vendors</button>
  <button type="button" class="btn" onclick="window.location.href = '/'">Home</button>
</div>