@using VendorOrderTracker.Models;
@{
    Layout = "_Layout";
}

<div class="box2">
    @if (Model["vendor"] == null)
    {
        <h3>The vendor was deleted</h3>
    }
    else
    {
        <div class="box3">
            <h3>Vendor: @Model["vendor"].Name</h3>
            <h3>Description of Vendor: @Model["vendor"].Description</h3>

            <h3><a href='/vendors/@Model["vendor"].Id/orders'>Orders of this vendor</a> </h3>
        </div>

        <button type="button" class="btn" onclick="window.location.href = '/vendors/@Model["vendor"].Id/edit'">Edit vendor info</button>
        <button type="button" class="btn" onclick="window.location.href = '/vendors/@Model["vendor"].Id/delete'">Delete vendor</button>
    }

    <button type="button" class="btn" onclick="window.location.href = '/vendors'">Return to vendor list</button>
    <button type="button" class="btn" onclick="window.location.href = '/'">Home</button>
</div>