@{
  Layout = "_Layout";
}
<div class="box">
    <h1>Welcome to the Vendor Tracker!</h1>
    <button type="button" class="btn" onclick="window.location.href = '/vendors'">View Vendors</button>
</div>


