@{
    Layout = "_Layout";
}

<div class="box2">
  <h1>Delete order</h1>

  <h3>Do you want to delete order @Model["order"].Title ?</h3>
  <form action='/vendors/@Model["vendor"].Id/orders/@Model["order"].Id' method="post">
    <div class="form-check">
      <input  class="form-check-input" type="checkbox" name="deleteOrder" id="deleteOrder" value="true">
      <label for="deleteOrder">Yes/No</label>
    </div>
    
    <button class="btn" type="submit">Delete/Back</button>
  </form>

  <button type="button" class="btn" onclick="window.location.href = '/vendors/@Model["vendor"].Id/orders/@Model["order"].Id'">Back to order</button>
  <button type="button" class="btn" onclick="window.location.href = '/vendors/@Model["vendor"].Id/orders'">Back to orders</button>
  <button type="button" class="btn" onclick="window.location.href = '/vendors/@Model["vendor"].Id'">Back to vendor</button>
  <button type="button" class="btn" onclick="window.location.href = '/vendors'">Back to vendors</button>
  <button type="button" class="btn" onclick="window.location.href = '/'">Home</button>
</div>
